<template>
  <div>
    <div v-for='game in data.games'>
      <h3>
        {{game.game}} ({{game.date}})
      </h3>
      <div v-for='player in game.punctuation'>
        <p>
          {{player.player}} ({{player.user}})
        </p>
        <p>
          Primera ronda: {{player.firstRound}} | Segunda ronda: {{player.secondRound}} | Tercera ronda: {{player.thirdRound}} | Postres: {{player.bonus}}
        </p>
        <p>
          {{player.firstRound + player.secondRound + player.thirdRound + player.bonus}} puntos
        </p>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  
  import data from '@/assets/games.json'
  
  export default {
    name: 'hello',
    data () {
      return {
        data: data
      }
    }
  }
  
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  div{
    padding: 2em;
  }
</style>
